@import './var.scss';

.cartitem {
    width: 100%;
    height: 8rem;
    border-radius: 4px;
    background-color: lighten($primary-light-color,45%);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_imgcontainer {
        height: 100%;
        width: 6em;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            width: 100%;
            height: 90%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                mix-blend-mode: multiply;
            }
        }
    }

    &_infocontainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex: 1;
        
        h3 {
            font-weight: 300;
            font-size: 1rem;
        }

        h4 {
            font-weight: 300;
            font-size: 1rem;
        }
    }

    &_controls {
        width: 20rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: .5rem;

        &_delete {
            width: 7rem !important;
            margin-left: .5rem !important;
            background-color: transparent !important;
            color: $primary-color !important;
            font-size: 1.2rem !important;

        }
        
        button {
            width: 3rem;
            height: 3rem;
            background-color: transparent;
            border: none;
            font-family: $primary-font;
            color: $primary-color;
            font-size: 1.8rem;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                background-color: lighten($primary-color, 5%);
                color: $text-light-color;
                transition: all .3s;
            }
        }

        h3 {
            margin: 0 1rem;
        }
    }
}