@import 'var.scss';

.nav {
    width: 75vw;
    height: 5rem;
    border-bottom: solid 1px $primary-very-light-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

