@import './var.scss';

.products {
    margin-top: 4rem;
    width: 75vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 10rem;
    border-bottom: solid 1px $primary-color;

    @media screen and (max-width: 1500px) {
        width: 90vw;
    }

    @media screen and (max-width: 1366px) {
        width: 100vw;
        padding: 0 4rem;
    }

    @media screen and (max-width: 1025px) {
        flex-direction: column;
    }
}