@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,600&display=swap');

// Fonts
$primary-font: 'Montserrat', sans-serif;

// Colors
$primary--very-dark-color: #002233;
$primary-dark-color: #043a70;
$primary-color: #054A91;
$primary-light-color: #3E7CB1;
$primary-very-light-color: #81A4CD;
$primary-white-color: #e6eaf0;

$secondary-dark-color: #df6c00;
$secondary-color: #F17300;
$secondary-light-color: #ffb26b;

$text-light-color: #f1f1f1;
$text-dark-color: #041325;
$text-grey-color: #202122;